extends includes/layout.pug

block content
  #post.typesetting
    #post-head
      #post-folder
        a(href=url_for('/'))= _p("home")
        span=' / '
        if (page.categories.data.length != 0 && typeof(page.series_name) !== 'string')
          each item, index in page.categories.data
            a(href=url_for(item.path)) #[=item.name]
            if (index < page.categories.data.length - 1)
              span=' | '
        else if (typeof(page.series_name) === 'string')
          a(href=url_for(__series_get_home_url(page))) #[=_p("series")+page.series_name]
        else
          a(href=url_for(page.path))= _p('singlepost')
      if (page.updated <= page.date)
        #post-meta= _p("created")
          time.lately(datetime=date_xml(page.date) title=_p('page.date') + ' ' + full_date(page.date))=date(page.date, config.date_format)
      else
        #post-meta= _p("updated")
          time.lately(datetime=date_xml(page.updated) title=_p('page.updated') + ' ' + full_date(page.updated))=date(page.updated, config.date_format)
      h1#post-title=pageTitle
    article#article-container.post-content!=page.content
  #post-copyright
    span= _p("copyright.left_content")
    i.ri-creative-commons-fill= ' '
    a(href=url_for("https://creativecommons.org/licenses/by-nc-sa/4.0/"), style="font-weight: bold")= "CC BY-NC-SA 4.0"
    span= _p("copyright.right_content")
  #post-context
    if (typeof(page.series_name) === 'string' && page.series_index !== 0)
      - let prevpage = __series_get_page_prev(page)
      - let nextpage = __series_get_page_next(page)
      #post-prev
        if (prevpage)
          span= _p("page.context_prev")
          a(href=url_for(prevpage.path))= prevpage.subtitle
        else
          span= _p("page.return_series_home")
          a(href=url_for(__series_get_home_url(page)))= page.title
      #post-next
        if (nextpage)
          span= _p("page.context_next")
          a(href=url_for(nextpage.path))= nextpage.subtitle
        else
          span= _p("page.return_series_home")
          a(href=url_for(__series_get_home_url(page)))= page.title