- var pageTitle
// TODO: is_archive() ? page.title = findArchivesTitle(page, theme.menu, date) : ''
- if (is_tag()) pageTitle = _p('page.tag') + ': ' + page.tag
- else if (is_category()) pageTitle = _p('page.category') + ': ' + page.category
- else if (is_current('/404.html', [strict])) pageTitle = _p('error404')
- else if (page.subtitle) pageTitle = page.title + ': ' + page.subtitle || config.title || ''
- else pageTitle = page.title || config.title || ''
- var isSubtitle = config.subtitle ? ' - ' + config.subtitle : ''
- var tabTitle = is_home() || !pageTitle ? config.title + isSubtitle : pageTitle + ' | ' + config.title
- var pageAuthor = config.email ? config.author + ',' + config.email : config.author
- var pageCopyright = config.copyright || config.author

meta(charset='UTF-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
//- canonical的用途主要用于规范网页网址，对于网站优化而言可以有效的将权重集中至规范的网页网址上，避免搜索引擎收录相同内容不同网址的网页，出现位置最好出现在 <title></title> 标签前
link(rel="canonical" href=urlNoIndex())
title=tabTitle
meta(name="author" content=pageAuthor)
meta(name="copyright" content=pageCopyright)
meta(name="format-detection" content="telephone=no")

!=favicon_tag(theme.favicon || config.favicon)

// TODO: css Only necessary css files are selected. It is recommended to write files separately and use 'include' to import
!=css(url_for(theme.main_css))

if is_home() && theme.home_css
  !=css(url_for(theme.home_css))
if is_page() && theme.page_css
  !=css(url_for(theme.page_css))
if is_post() && theme.post_css
  !=css(url_for(theme.post_css))
if is_tag() && theme.tag_css
  !=css(url_for(theme.tag_css))
if is_category() && theme.category_css
  !=css(url_for(theme.category_css))
if is_archive() && theme.archive_css
  !=css(url_for(theme.archive_css))

!=partial('includes/head/config_cache', {}, {cache: true})
include ./config_site.pug
// TODO: include ./head/noscript.pug

!=fragment_cache('injectHead', function(){return injectHtml(theme.inject.head)})
// TODO: (??)!=fragment_cache('injectHeadcss', function(){return inject_head_css()})